<%- include('../includes/head.ejs')%>

<body>
    <%- include('../includes/nav.ejs')%>
    <main class="container mt-6">

        <% if(errMsg){%>
            <div class="notification is-warning is-light p-2">
                <%=errMsg%>
              </div>
        <%}%>
        <form action="/login" method="post">

            <div class="field">
                <label class="label" for="username">Username</label>
                <div class="control">
                    <input class="input" type="text" name="username" />
                </div>
            </div>
            <div class="field">
                <label class="label" for="username">Password</label>
                <div class="control">
                    <input class="input" type="password" name="password" />
                </div>
            </div>

            <button class="button is-primary" type="submit">
                Login
            </button>

        </form>

    </main>

<%- include('../includes/end.ejs')%>