<%- include('../includes/head.ejs')%>
<body>
    <%- include('../includes/nav.ejs')%>
    <main>
        <% if(errMsg){%>
            <div class="notification is-warning is-light p-2">
                <%=errMsg%>
              </div>
        <%}%>
        
        <h1>No posts</h1>
    </main>

<%- include('../includes/end.ejs')%>