<%- include('includes/head.ejs')%>

<body>
    <%- include('includes/nav.ejs')%>
    <main class="container mt-6 has-text-centered">
        <figure class="image is-2by1">
            <img class="is-rounded" src="/404.jpg" alt="error 404"/> 
        </figure>
    </main>
<%- include('includes/end.ejs')%>